<div class="input-panel">
  <form action="" method="POST">
    <input type="text" name="inputUrl" size="60" placeholder="Input URL here" required>
    <div class="button">
      <button type="button" class="btn btn-outline-primary" type="submit">Shorten</button>
    </div>
  </form>
</div>