<div class="input-panel">
  <h2>Success! Please use this link:</h2>
  <a href=`{{shortUrl}}`>{{shortUrl}}</a>
  <div class="button">
    <button type="button" class="btn btn-outline-primary" type="submit">Shorten</button>
  </div>
</div>